@page
@model IndexModel




    <div class="section-wrapper">

        <div class="section-content">
            <h2 class="section-title">@Model.Title</h2>

            <form method="get">
                <div class="form-group">
                    <div class="input-group">
                        <input type="search" class="form-control" asp-for="SearchTerm" />
                        <span class="input-group-btn">
                            <button class="btn btn-default">Search</button>
                        </span>
                    </div>
                </div>
            </form>

            <table class="log-table table">
                <thead class="thead-dark">
                    <th>ID</th>
                    <th>Name</th>
                    <th>Last Modified</th>
                    <div class="table-icons-title">
                        <th>View</th>
                        <th>Edit</th>
                        <th>Delete</th>
                        <th>Timestamp</th>
                        <th>Save</th>
                    </div>
                </thead>
                <hr />
                @foreach (var log in Model.Logs)
                {
                <tr class="table-results">
                    <td>@log.Id</td>
                    <td>@log.Name</td>
                    <td>@log.LastModified</td>
                    <td class="btn" asp-page="./ViewLog" asp-route-logId="@log.Id">
                        <i class="fas fa-eye"></i>
                    </td>
                    <td class="btn" asp-page="./EditLog" asp-route-logId="@log.Id">
                        <i class="fas fa-edit"></i>
                    </td>
                    <td class="btn" asp-page="./DeleteLog" asp-route-logId="@log.Id">
                        <i class="fas fa-trash-alt"></i>
                    </td>
                    <td class="btn" asp-page="./StampLog" asp-route-logId="@log.Id">
                        <i class="fas fa-stamp"></i>
                    </td>
                    <td class="btn" asp-page="./SaveLog" asp-route-logId="@log.Id">
                        <i class="fas fa-save"></i>
                    </td>
                </tr>
                }
            </table>
        </div>
    </div>